:root {
  --dark-bg-color: #1f2937;

  --hero-main-font-size: 48px;
  --hero-main-font-weight: 800;
  --hero-font-color: #f9faf8;
  --hero-secondary-font-size: 18px;
  --hero-secondary-color: #e5e7eb;

  --header-link-color: #e5e7eb;
  --header-link-size: 18px;
  --header-logo-font-size: 24px;
  --header-logo-font-color: #f9faf8;

  --button-color: #3882f6;
  --cta-bg-color: #3882f6;

  --information-header-font-size: 36px;
  --information-header-font-weight: 800;
  --information-header-font-color: #1f2937;

  --quote-bg-color: #e5e7eb;
  --quote-font-size: 36px;
  --quote-font-color: #1f2937;
  --quote-text-decoration: italic;
}

body {
  margin: 0;
}

.header,
.footer {
  background: var(--dark-bg-color);
}
