:root {
  --dark-bg-color: #1f2937;

  --hero-main-font-size: 48px;
  --hero-main-font-weight: 800;
  --hero-font-color: #f9faf8;
  --hero-secondary-font-size: 18px;
  --hero-secondary-color: #e5e7eb;

  --header-link-color: #e5e7eb;
  --header-link-size: 18px;
  --header-logo-font-size: 24px;
  --header-logo-font-color: #f9faf8;

  --button-color: #3882f6;
  --cta-bg-color: #3882f6;

  --information-header-font-size: 36px;
  --information-header-font-weight: 800;
  --information-header-font-color: #1f2937;

  --quote-bg-color: #e5e7eb;
  --quote-font-size: 36px;
  --quote-font-color: #1f2937;
  --quote-text-decoration: italic;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.section-wrapper {
  padding: 48px 200px;
}

nav {
  background: var(--dark-bg-color);
  padding: 25px 200px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 16px;
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--header-link-color);
  font-size: var(--header-link-size);
}

#heading,
.footer {
  background: var(--dark-bg-color);
}

.logo {
  font-size: var(--header-logo-font-size);
  color: var(--header-logo-font-color);
  font-weight: 700;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 48px;
}
.hero h1,
.hero p {
  max-width: 550px;
}

.hero h1 {
  font-size: var(--hero-main-font-size);
  font-weight: var(--hero-main-font-weight);
  color: var(--hero-font-color);
  line-height: 0.8;
  margin-bottom: 0;
}

.hero p {
  font-size: var(--hero-secondary-font-size);
  color: var(--hero-secondary-color);
}

#info h2 {
  text-align: center;
  font-size: var(--information-header-font-size);
  font-weight: var(--information-header-font-weight);
  color: var(--information-header-font-color);
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.info-card img {
  border-radius: 5px;
}
.info-card p {
  text-align: center;
  width: 150px;
}

#quote {
  background: var(--quote-bg-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 25px;
}

#cta {
  margin: 60px;
}

.cta-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--cta-bg-color);
  border-radius: 5px;
  padding: 25px;
}

#cta h3 {
  color: white;
  margin-bottom: 0;
}

#cta p {
  margin-top: 0;
  color: #fafafa;
}

.btn {
  padding: 8px 30px;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background: var(--button-color);
  color: white;
}

.btn-primary-outline {
  border-color: white;
  border: solid white 2px;
  border-radius: 5px;
}

blockquote {
  text-align: center;
}

blockquote p {
  font-size: var(--quote-font-size);
  color: var(--quote-font-color);
  font-style: var(--quote-text-decoration);
  font-weight: 300;
  order: 0;
}

cite {
  text-align: right;
}

cite:before {
  content: "- ";
}
